
.row
    .col-sm-7
        .carousel.slide#slides{"data-ride" => "carousel"}
            %ol.carousel-indicators
                %li.active{"data-target"=>"#slides", "data-slide-to"=>"0"}
                %li{"data-target"=>"#slides", "data-slide-to"=>"1"}
                %li{"data-target"=>"#slides", "data-slide-to"=>"2"}
            .carousel-inner
                .item.active
                    =image_tag "shorts_burgers.jpg"
                    .carousel-caption
                        Caption 1 
                        %p text 
                .item
                    =image_tag "gumbys.jpg"
                    .carousel-caption
                        Caption 2 
                        %p text
                .item
                    =image_tag "bwws.jpg"
                    .carousel-caption
                        Caption 3 
                        %p text
            .carousel-control.left{"data-slide"=>"prev", :onclick =>"$('#slides').carousel('prev')"}
                =link_to '#slides' do
                    %span.glyphicon.glyphicon-chevron-left.black
                
            .carousel-control.right{"data-slide"=>"left", :onclick =>"$('#slides').carousel('next')"}
                =link_to '#slides' do 
                    %span.glyphicon.glyphicon-chevron-right.black
    .col-sm-5 
        .row
            .col-sm-2
                %h2 Welcome!
                
        .row
            .col-sm-2
            .col-sm-8
                We're here to help you find the best deals in Iowa City. 
                If you're a restaurant owner, create an account and join the Gorge where 
                Iowa City residents are engorging without eating a whole through their wallet!
        .row

.row
    %nav.navbar.navbar-inverse
        .container-fluid
            .navbar-header
                .navbar-brand  
                    Today's Deals!
                    
            %form.navbar-form.navbar-right{:id=>'search_deals', :controller => :user}
                .input-group
                    %input.form-control{:type=>"text", :placeholder=>"Search", :id => 'search_deals'}
                    .input-group-btn
                        .btn.btn-default{:type=>"submit"}
                            %i.class.glyphicon.glyphicon-search

            %ul.nav.navbar-nav.navbar-right
                =text_field :user, 'user_id', placeholder: "Search Deals...", :id => 'search_deals' 
                %i.glyphicon.glyphicon-search
                


.row
    .center-h2
        %h3.col-sm-3 Eat Up!
        =select(:filter, :status, options_for_select([["restaurant", "1"], ["ethnicity", "2"], ["type", "3"]]))
    .now-showing
        %h3 Now Showing: (Filter) Deals
.row    
    .deal_class
        .deal-left
            %h5 Status
            %h1 Deal Title
            %h5 Rating tool
        .deal-right
            %p 
        
            .deal_duration
            %h5 Start Date: mm-dd-yy
            %h5 End Date: mm-dd-yy
            
        
.footer
        