

.center-h2
    %h2 Featured Deals
    = text_field :user, 'user_id', placeholder: "Search Deals...", :id => 'search_deals'

.deals_slideshow
    %ul#slides
        %li.slide.showing
            =image_tag "cactus.jpg"
        %li.slide
            =image_tag "shorts_burgers.jpeg"
        %li.slide
            =image_tag "zmariks.jpg"
        %li.slide
            =image_tag "gumbys.jpg"
        %li.slide
            =image_tag "bwws.jpg"
        %li.slide
            =image_tag "dpdough.jpg"
        %li.slide
            =image_tag "airliner.jpg"
            
        
.container
    .row
        .col-md-12
            .carousel-showmanymoveone 
                .carousel-inner
                    .item.active
                        =image_tag "cactus.jpg"
                    .item
                        =image_tag "shorts_burgers.jpeg"
                        =image_tag "zmariks.jpg"
                    .item
                        =image_tag "gumbys.jpg"
                    .item
                        =image_tag "bwws.jpg"
                    .item
                        =image_tag "dpdough.jpg"
                    .item
                        =image_tag "airliner.jpg"
                

 
    
    :javascript
        var slides = document.querySelectorAll('#slides .slide');
        var currentSlide = 0;
        var slideInterval = setInterval(nextSlide,3000);

        function nextSlide() {
            slides[currentSlide].className = 'slide';
            currentSlide = (currentSlide+1)%slides.length;
            slides[currentSlide].className = 'slide showing';
        }
        
        (function(){
            $('#carousel123').carousel({ interval: 2000 });
        }());

        (function(){
            $('.carousel-showmanymoveone .item').each(function(){
                var itemToClone = $(this);

               for (var i=1;i<4;i++) {
                    itemToClone = itemToClone.next();
                    if (!itemToClone.length) {
                        itemToClone = $(this).siblings(':first');
                }
                itemToClone.children(':first-child').clone()
                .addClass("cloneditem-"+(i))
                .appendTo($(this));
                }
            });
        }());
        
.center-h2
    %h3 Eat Up!
    = select(:filter, :status, options_for_select([["restaurant", "1"], ["ethnicity", "2"], ["type", "3"]]))
.now-showing
    %h3 Now Showing: (Filter) Deals
.deal_class
    .deal-left
        %h5 Status
        %h1 Deal Title
        %h5 Rating tool
    .deal-right
        %p 
            
    .deal_duration
        %h5 Start Date: mm-dd-yy
        %h5 End Date: mm-dd-yy
            
.footer