.center-h2
    %h2 Featured Deals
    = text_field :user, 'user_id', placeholder: "Search Deals...", :id => 'search_deals'

.deals_slideshow

.center-h2
    %h3 Eat Up!
.now-showing
    %h3 Now Showing: (Filter) Deals
.deal_class
    .deal-left
        %h5 Status
        %h1 Deal Title
        %h5 Rating tool
    .deal-right
        %p 
            kasdflkjas;dflkasjdfklasdjfkasdflkjas;dflkasjdfklasdjfkasdflkjas;dflkasjdfklasdjf
            kasdflkjas;dflkasjdfklasdjfkasdflkjas;dflkasjdfklasdjfkasdflkjas;dflkasjdfklasdjf
            kasdflkjas;dflkasjdfklasdjfkasdflkjas;dflkasjdfklasdjfkasdflkjas;dflkasjdfklasdjf
            kasdflkjas;dflkasjdfklasdjfkasdflkjas;dflkasjdfklasdjfkasdflkjas;dflkasjdfklasdjf
            kasdflkjas;dflkasjdfklasdjfkasdflkjas;dflkasjdfklasdjfkasdflkjas;dflkasjdfklasdjf
    .deal_duration
        %h5 Start Date: mm-dd-yy
        %h5 End Date: mm-dd-yy
            
.footer
        