<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Welcome to example.com, <%= @restaurant.name %></h1>
      
      <p>
         To login to the site, just follow this link: 
         <%= @url %>.
      </p>
      
      <p><%= confirm_email_restaurant_url(@restaurant.invitationID) %>
      </p>
      
      <p>Thanks for joining and have a great day!</p>
      
   </body>
</html>