.banner-left
    %h1 Iowa City Eats!

.login-box
    = button_to 'Login', login_path, :method => :get, :id => 'signuplogin'
    = link_to 'Sign-up for an account', new_user_path, :method => :get

.search-bar
    %h1 Featured Deals
    
.dynamic-content

.filters
    %h1 Eat Up!

.footer
    %h1 This is the footer



