.banner-left
    %h1 Iowa City Eats!

.login-box
<<<<<<< HEAD
    = button_to "Login", :id => 'login'
    = button_to "Sign Up", :id => 'signup'
=======
    = button_to "Sign up/Login", login_path, :method => :get, :id => 'signuplogin'
>>>>>>> armond

.search-bar
    %h1 Featured Deals
    
.dynamic-content

.filters
    %h1 Eat Up!

.footer
    %h1 This is the footer



