.banner-left
    %h1 Iowa City Eats!

.login-box
    = button_to "Login", :id => 'login'
    = button_to "Sign Up", :id => 'login'

.search-bar
    %h2 Featured Deals
    
.dynamic-content

.filters
    %h1 Eat Up!

.footer
    %h1 This is the footer



